In [2]:
pip install numpy

Collecting numpy
  Downloading numpy-1.24.2-cp311-cp311-win_amd64.whl (14.8 MB)
     ---------------------------------------- 14.8/14.8 MB 6.3 MB/s eta 0:00:00
Installing collected packages: numpy
Successfully installed numpy-1.24.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import numpy as np

In [7]:
pip install pandas

Requirement already satisfied: pandas in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [8]:
pip install matplotlib

Collecting matplotlibNote: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

  Downloading matplotlib-3.7.1-cp311-cp311-win_amd64.whl (7.6 MB)
     ---------------------------------------- 7.6/7.6 MB 1.8 MB/s eta 0:00:00
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp311-cp311-win_amd64.whl (162 kB)
     -------------------------------------- 163.0/163.0 kB 4.9 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.39.3-py3-none-any.whl (1.0 MB)
     ---------------------------------------- 1.0/1.0 MB 3.0 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp311-cp311-win_amd64.whl (55 kB)
     ---------------------------------------- 55.4/55.4 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.20 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (1.24.2)
Requirement already satisfied: packaging>=20.0 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (23.0)
Collecting pillow>=6.2.0
  Downloading Pillow-9.5.0-cp311-cp311-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 3.4 MB/s eta 0:00:00
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     ---------------------------------------- 98.3/98.3 kB 5.5 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.39.3 kiwisolver-1.4.4 matplotlib-3.7.1 pillow-9.5.0 pyparsing-3.0.9

In [9]:
import matplotlib as plt

In [18]:
pip install plotly

Requirement already satisfied: plotly in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (5.14.1)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\amire\appdata\local\programs\python\python311\lib\site-packages (from plotly) (23.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [16]:
import plotly as py

In [19]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import matplotlib
import numpy as np
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly as py
import plotly.graph_objs as go
init_notebook_mode(connected=True)

In [21]:
df = pd.read_csv('D:\PROJECT\CRIME/crimes_against_women_2001-2022.csv')

df.head()

,Unnamed: 0,STATE/UT,DISTRICT,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
0,0.0,ANDHRA PRADESH,ADILABAD,2001,50,30,16,149,34,175,0.0
1,1.0,ANDHRA PRADESH,ANANTAPUR,2001,23,30,7,118,24,154,0.0
2,2.0,ANDHRA PRADESH,CHITTOOR,2001,27,34,14,112,83,186,0.0
3,3.0,ANDHRA PRADESH,CUDDAPAH,2001,20,20,17,126,38,57,0.0
4,4.0,ANDHRA PRADESH,EAST GODAVARI,2001,23,26,12,109,58,247,0.0

In [22]:
df.describe()

,Unnamed: 0,Year,Rape,Kidnapping and Abduction,Dowry Deaths,Assault on women with intent to outrage her modesty,Insult to modesty of Women,Cruelty by Husband or his Relatives,Importation of Girls
count,10677.000000,10892.000000,10892.000000,10892.000000,10892.000000,10892.000000,10892.000000,10892.000000,10677.000000
mean,3871.570198,2007.913515,57.070419,69.522402,19.887532,113.257988,26.984943,205.611733,0.175330
std,2816.369918,4.297479,212.206338,308.566921,97.324851,454.426599,166.170929,897.044128,2.228637
min,0.000000,2001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1009.000000,2004.000000,8.000000,6.000000,1.000000,10.000000,0.000000,11.000000,0.000000
50%,3678.000000,2008.000000,21.000000,20.000000,5.000000,35.000000,2.000000,48.000000,0.000000
75%,6347.000000,2011.000000,44.000000,50.000000,16.000000,87.000000,12.000000,140.250000,0.000000
max,9016.000000,2022.000000,5076.000000,10626.000000,2469.000000,10001.000000,4970.000000,23278.000000,83.000000

In [23]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys = ['Total', 'Percent'])
missing_data.head(10)

                                                    Total   Percent
Unnamed: 0                                            215  0.019739
Importation of Girls                                  215  0.019739
STATE/UT                                                0  0.000000
DISTRICT                                                0  0.000000
Year                                                    0  0.000000
Rape                                                    0  0.000000
Kidnapping and Abduction                                0  0.000000
Dowry Deaths                                            0  0.000000
Assault on women with intent to outrage her mod...      0  0.000000
Insult to modesty of Women                              0  0.000000

In [25]:
def helper1(all_cases):
    for i in list(df.columns)[2:]:
        all_cases[i] = df.groupby(['Year'])[i].sum()
    
    return all_cases

SyntaxError: invalid non-printable character U+00A0 (3496410195.py, line 5)

In [26]:
def helper1(all_cases):
    for i in list(df.columns)[2:]:
        all_cases[i] = df.groupby(['Year'])[i].sum()
    
    return all_cases

SyntaxError: invalid non-printable character U+00A0 (3496410195.py, line 5)

In [27]:
pd.DataFrame(all_cases.sum(axis=1), columns=["Total no of crimes"])

NameError: name 'all_cases' is not defined